/* shared styles */
*{
    margin: 0px;
    padding: 0px;
}
p{
    color: #534C64;
}
/* Header Part Start From Here */
/* Nav Part Start From Here */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 240px;
}

.logo{
    display: flex;
    align-items: center;
    gap:20px;
    font-size: 30px;
}
.gamer{
    color: #FF42A4;
}
.nav-button{
    display: flex;
    align-items: center;
}
.nav-button ul{
    display: flex;
    align-items: center;
}
.nav-button li{
    list-style: none;
    margin-left: 20px;
    font-size: 18px;
}
.li-icon{
    display: flex;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 20px;
    align-items: center;
    border-radius: 10px;
}
.icon{
    margin-left: 20px;
}
.icon >img{
    width: 50px;
    height: 40px;
    margin: 0px 5px;
    border: none;
    border-radius: 30%;
}
/* Nav Part Finish Here */
/* Banner Part Start From Here */
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    
    padding: 50px 240px;
}
.banner-text{
    background-image: url("images/Group\ 14.png");
    background-size: contain;
}
.banner-image> img{
    width: 100%;
    height: 70vh;
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
}
h3{
    font-size: 60px;
    margin-bottom: 10px;
    color: #B252DA;
}
.banner-text p{
    font-size: 20px;
    margin-bottom: 5px;
}
.btn{
    margin: 20px 0px;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#sign-in,#know-more{
    background-color: #FF42A5;
}
#go-rogue{
    background-color: #4DC5F7;
    margin-left: 15px;
}
/* Body Part Start From Here */
.we-are-gamer{
    display: flex;
    padding: 50px 240px;
}
.we-gamer{
    color: #B652D8;
}
.we-are-gamer-text{
    text-align: end;
}
.we-are-gamer-image> img{
    width: 42vw;
}
/* Funny Vedioes*/
.funny-videos{
    color: #C350D0;
}
.funny-video{
    text-align: center;
    padding: 50px 240px;

}
.funny-video-image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.funny-video-image img{
    width: 100%;
}
.funny-v-i{
    float:left;
    position:relative;
}
.funny-v-i:hover .play-button{display:block}
.play-button{
    position : absolute;
    display:none;
    top:40%; 
    width:40px;
    margin:0 auto; 
    left:0px;
    right:0px;
    z-index:100;
}
.play-button p{
    color: black;
}
/* Play Part */
.play-instantly{
    color: #E44CBF;
}
.play{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 50px 240px;
}
.play-text{
    text-align: end;
}
.sub-image{
    position: relative;
    bottom: 100px;
}
.play-image> img{
    width: 85%;
    margin-left: 70px;
}
.sub-image> img{
    width: 40%;
}
/* Game Types */
.game-types{
    padding: 50px 240px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.types{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.types:hover{
    border: 2px solid blueviolet;
    border-radius: 8px;
    padding: 2px;
}
.types:hover p{
    color: brown;
}
.types> img{
    margin-right: 10px;
}
/* Footer part */
.footer{
    background-color: black;
    color: #FFF;
    text-align: center;
    padding: 50px 240px;
}
.logo-down{
    display: flex;
    justify-content: center;
    gap:20px;
    font-size: 30px;
    margin-bottom: 40px;
}
.option-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.footer-icon{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    justify-content: center;
    margin: 30px 0px;
}
.f-i> img{
    width: 30px;
}
.footer-text{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.footer-last{
    display: flex;
    justify-content: center;
}
.pl{
    color: #FFF;
}

/* Responsive for Small device or Mobile-Large: */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        padding: 50px 20px;
        align-items: center;
    }
    .nav-button ul{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .nav-button li{
        margin: 10px 0px;
    }
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 50px;
        background-image: none;
        
    }
    .banner-text{
        font-size: 20px;
        margin-bottom: 5px;
        background-image: url("images/Group\ 14.png");
        background-size: contain;
        padding: 80px;
        margin-top: 30px;
    }
    .banner-text p{
        font-size: small;
    }
    .we-are-gamer{
        flex-direction: column;
        padding: 50px 50px;
        align-items: center;
    }
    .we-are-gamer-text{
        text-align: center;
        margin-top: 30px;
    }
    .we-are-gamer-image> img{
        width: 80vw;
    }
    .funny-video{
        text-align: center;
        padding: 50px 70px;
    
    }
    .funny-video h2,.banner-text h2{
        font-size: 25px;
    }
    .banner-text h3{
        font-size: 35px;
    }
    .funny-video-image{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20%;
    }
    .funny-p{
        font-size: 10px;
    }
    .play{
        flex-direction: column;
        align-items: center;
        padding: 50px 50px;
    }
    .play-text{
        text-align: center;
    }
    .sub-image{
        position: relative;
        bottom: 100px;
    }
    .game-types{
        padding: 50px 50px;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .types> img{
        width:25%;
    }
    .types p{
        font-size: small;
    }
    .footer{
            padding: 50px 50px;
    }
    .option-container{
        grid-template-columns: repeat(3,1fr);
        row-gap: 20px;
    }
    .footer-text{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-icon{
        grid-template-columns: repeat(3, 70px);
        row-gap: 10px;
    }
    .footer-last{
        flex-direction: column;
    }
}
/* Responsive for Medium device or Tablet: */
@media screen and (min-width: 576px) and (max-width: 829px) {
    nav{
        flex-direction: column;
        padding: 50px 20px;
        align-items: center;
    }
    .logo{
        margin-bottom: 40px;
    }
    .banner-container, .we-are-gamer, .play, .game-types, .footer{
        padding: 50px 50px;
    }
    .funny-video{
        padding: 50px 70px;
    }
    .funny-p{
        font-size: 10px;
    }
    .game-types{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .types p{
        font-size: medium;
    }
    .play-image> img{
        margin-left: 20%;
    }
    .sub-image{
        position: relative;
        bottom: 100px;
    }
    .types img{
        width: 25%;
    }
    
}   